<h1>Hello</h1>
 <%= form_tag "/game_form_send", method: :post do %>
   <div>
   Please enter your name: <input type="text" name="@form_message">
 </div>
   <input type="submit" value="Enter">
<% end %>